@page
@model KSUWEBPMOCAP.Pages.Profiles.AdminProfile.Departments.IndexModel

@{
    Layout = "/Pages/Shared/_Layout1.cshtml";
    ViewData["Title"] = "Index";
}
<h1>Deparments</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Filter Search:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.Departments[0].Dept_Num)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DeptNameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Departments[0].Dept_Name)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.FacultyLastNAme"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Departments[0].Faculty_LastName)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Departments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dept_Num)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dept_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Faculty_LastName)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Dept_ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Dept_ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Dept_ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.Departments.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Departments.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Departments.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Departments.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>
