@page
@model KSUWEBPMOCAP.Pages.Profiles.ViewerProfile.Students.DetailsModel

@{
    Layout = "/Pages/Shared/_Layout3.cshtml";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Student_Net_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Student_Net_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Student_LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Student_LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Student_FirstdName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Student_FirstdName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Student_Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Student_Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.Student_ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
