@page
@model KSUWEBPMOCAP.Pages.Profiles.ViewerProfile.TblFiles.DeleteModel

@{
    Layout = "/Pages/Shared/_Layout3.cshtml";
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblFile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblFile.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblFile.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblFile.ContenType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblFile.ContenType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblFile.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblFile.Data)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TblFile.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
