@page
@model KSUWEBPMOCAP.Pages.Profiles.ViewerProfile.TblFiles.DetailsModel

@{
    Layout = "/Pages/Shared/_Layout3.cshtml";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblFile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblFile.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblFile.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblFile.ContenType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblFile.ContenType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblFile.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblFile.Data)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TblFile.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
