@page
@model KSUWEBPMOCAP.Pages.Profiles.UserProfile.Projects.DeleteModel

@{
    Layout = "/Pages/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Project_Num)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Project_Num)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Proj_Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Proj_Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Num_Teams_Sponsored)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Num_Teams_Sponsored)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Project_Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Project_Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Proj_Sponsor_Benefit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Proj_Sponsor_Benefit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Proj_Student_Benefit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Proj_Student_Benefit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Proj_hasNDA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Proj_hasNDA)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Sponsor_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Sponsor_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Faculty_LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Faculty_LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Dept_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Dept_Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Project.Project_ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
